/* **********************************************************
//    *** DOG TRIVIA GAME ***
// **********************************************************/
body {
  background-image: url("../images/background.jpg");
}

#message, #message2, #name {
   font-size: 1.75em;
   text-align: center;
}

#message {
  background-color: #68B6ED; /* blue */
}

h1 {
  letter-spacing: 0.4em;
  font-size: 2.75em;
  text-align: center;
  color: #F75934; /* orange */
}

#start {
  margin: 0.5em;
  width: 17%;
  font-size: 1.5em;
}

#answerSection button {
	display: block;
	font-size: 1.5em;
}

#startSection {
	height: 33%;
  margin: auto;
  text-align: center;
}

#questionSection {
	height: 33%;
	width: 100%;
	font-size: 2em;
	background-color: #68B6ED;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
  padding-top: 0.25em;
	padding-bottom: 1.25em;
  border-top: 0.6em solid #F75934; /* orange */
  border-bottom: 0.9em solid #F75934; /* orange */
}

#resultsHeader {
   padding-bottom: 0.5em;
}

#resultsBox {
  width: 27%;
  margin-left: 34%;
  background-color: #FCF787; /* medium yellow */
  height: 20em;
  align-content: center;
  border: 0.3em solid #F75934; /* orange */
  border-radius: 1.25em;
  padding-top: 1em;
  padding-left: 2em;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.hide {
  display: none;
}

li {
  list-style-type: none;
}

ul {
  color: black;
  font-weight: bold;
  font-size: 2.25em;
}

.selected {
  background-color: blue;
  font-weight: bold;
  color: white;
}

#time-left {
  font-size: 2em;
  text-align: center;
  background-color: #F75934; /* orange */
}

#display {
  font-family: monospace;
  font-size: 120px;
  color: green;

  /* Typography */
  text-align: center;

  /* Visual */
  background: black;
}

button:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

button {
	background-color: #F75934; /* orange */ /* #3CA2E6; /* med blue */
	border-color: #F75934;     /* orange */ /* #3CA2E6; /* med blue */
	width: 50%;
	height: 20%;
  text-align: left; /* left and then use padding-left to align text on button */
	padding: 0.5em;
  padding-left: 5%;
	margin: auto; /* button in center of screen horizon */
	margin-bottom: 0.1em;
}
